{% extends "suppliers_list.html" %}

{% load static %}

{% block content %}

<div class="container">
    <!--row-->
    <div class="row">
        <div class="col-md-4">
            <h3>Añadir nuevo proveedor</h3>
            <!--this is the form for a new supplier-->
            <form method="post">
                {% csrf_token %}

                <!--form inputs-->

                <div class="form-group mb-2">
                    <label for="name">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group mb-2">
                    <label for="address">Dirección <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="form-group mb-2">
                    <label for="deparment" class="form-label">Departamento <span class="text-danger">*</span></label>
                    <select class="form-select" id="department" name="department" required>
                        <option value="">Selecciona el departamento</option>
                        {% for department in department_list %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="city" class="form-label">Ciudad <span class="text-danger">*</span></label>
                    <select class="form-select" id="city" name="city" required>
                        <option value="">Selecciona la ciudad</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label>Selecciona un lugar en el mapa para obtener las coordenenadas del proveedor(opcional)</label>
                </div>
                <div class="form-group mb-2">
                    <label for="id_latitude">Latitud</label>
                    <input type="number" class="form-control" step="any" id="latitude" name="latitude" disabled>
                </div>
                <div class="form-group mb-2">
                    <label for="id_longitude">Longitud</label>
                    <input type="number" class="form-control" step="any" id="longitude" name="longitude" disabled>
                </div>                                
                <!--submit button-->

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Añadir proveedor</button>
                </div>
                {{ error }}

                <!--end of form-->

                <!--script to filter cities by department-->
                <script>
                    // get the department and city elements
                    var department = document.getElementById('department');
                    var city = document.getElementById('city');
                    // get the cities and departments from the context and parse them as JSON
                    var cities = JSON.parse('{{ cities | escapejs }}');
                    var departments = JSON.parse('{{ departments | escapejs }}');

                    // add an event listener to the department select element
                    department.addEventListener('change', function() {
                        var selectedDepartment = department.value;
                        var filteredCities = cities.filter(function(city) {
                            return city.department == selectedDepartment;
                        });
                        // remove all the options from the city select element
                        city.innerHTML = '<option value="">Selecciona la ciudad</option>';
                        // add the filtered cities to the city select element
                        filteredCities.forEach(function(filteredCity) {
                            var option = document.createElement('option');
                            option.value = filteredCity.id;
                            option.textContent = filteredCity.name;
                            city.appendChild(option);
                        });
                    });
                </script>
                <!--end of script-->
            </form>
        </div>

        <!--map div-->
        <div class="col-md-8">
            <h3>Selecciona la ubicación del proveedor</h3>
            <div id="map"></div>
            <script src="{% static 'suppliers/js/map_supplier.js' %}"></script>
        </div>

        <!--end of row-->

        </div>
    </div>
</div>
{% endblock %}