{% extends "farm_add.html" %}

{% block content %}
    <h1>Mis fincas</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-deck">
                    {% for farm in farms %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ farm.name }}</h5>
                                <p class="card-text"><small class="text-muted">{{ farm.location }}</small></p>
                                <p class="card-text">{{ farm.farm_type }}</p>
                                <a href="{% url 'farm_detail' farm.id %}" class="btn btn-primary">Ver detalles</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}