{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 id="titulo1-login">Login-Proveeagro</h1>
<p>Please, input your login information</p>

<main class="container">
    {{error}}
    <form class="card card-body" method="POST">

        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" required id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" required id="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form> 
</main>
{% endblock %}

