{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Sign up</h3>
                </div>
                <div class="panel-body p-3">
                    <form method="POST">
                       
                        {% csrf_token %}
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span> 
                                <input type="text" name="username" placeholder="Enter your new username" required> </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <div class="input-field"> <span class="fas fa-lock px-2"></span>
                                <input type="password" name="password1" placeholder="Enter your new Password" required> 
                                <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> 
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span> 
                                <input type="password" name="password2" placeholder="Confirm your password" required>
                                <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button>
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span>
                                <input type="email" name="email" placeholder="Enter your email" required> 
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span>
                                <input type="text" name="first_name" placeholder="Enter your name" required> 
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="far fa-user p-2"></span>
                                <input type="text" name="last_name" placeholder="Enter your last name" required> 
                            </div>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}  
                        <button class="btn btn-primary btn-block mt-3">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
