@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    background-image: url("../img/bg_dashboard.png");
    background-size: cover; /* La imagen se ajustará para cubrir el área completa */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

#map {
    height: 500px;
    width: 100%;

}