{% extends "base.html" %}

{% block content %}
    <h1>Proveedores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Ciudad</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.location.address }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.location.city.name }}</td>
                    <td>{{ supplier.location.city.department.name }}</td>
                    <td>
                        <a  class="btn btn-primary">Editar</a>
                        <a  class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}